body,
html {
  margin: 0;
  padding: 0;
}

/* CSS PRINCIPAL — sempre funciona (celular, navegador, etc) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: radial-gradient(circle, #92cbfd, #3c8aff);
}

@media (max-width: 450px) {

  html,
  body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background: radial-gradient(circle, #92cbfd, #3c8aff);
  }

  header {
    width: 100%;
    background-color: #000000;
    display: inline-flex;
    height: 55px;
    position: fixed;
    z-index: 9999;
  }

  /*   whatss   */
  .whatss {
    width: 38px;
    margin-left: 28%;
    margin-top: 25%;
  }

  /*   whatss   */
  /*   Logo   */
  .imagem-Nome {
    width: 78px;
    height: auto;
    display: block;
    object-fit: contain;
    margin-left: 33%;
  }

  /*   Logo   */
  /*   Menu   */

  .navbar {
    background: #000;
    color: #2290ef;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24%;
    font-size: 20px;
    margin-bottom: 2%;
  }

  .menu-icon {
    cursor: pointer;
    font-size: 28px;
  }

  #menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #000000ec;
    position: fixed;
    margin-top: 12%;
    margin-left: 77%;
    border-radius: 12px;
  }

  #menu li {
    border-bottom: 1px solid #333;
  }

  #menu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    color: #8ecbff;
  }

  #menu li a:hover {
    background: #333;
  }

  /*   Menu   */
  /*   Inicio   */
  .inicio {
    background: linear-gradient(to left, #00aaff, #0066ff);
    height: 659px;
    margin-top: 13%;
    overflow: hidden;
  }

  .titulo-inicio {
    color: white;
    font-family: "Playwrite NO";
    width: 82%;
    font-size: 142%;
    margin-left: 9%;
    text-align: center;
    padding-top: 6%;
  }

  .resumo-inicio {
    color: white;
    font-size: 115%;
    margin: 0 7% 0 7%;
    position: relative;
    top: 48px;
    text-align: center;
  }

  .contato-inicio {
    color: white;
    border-radius: 50px;
    background-color: #022543;
    width: 42%;
    display: flex;
    height: 55px;
    position: relative;
    top: 162px;
    margin-left: 12%;
    font-size: 22px;
    justify-content: center;
    padding-top: 14px;
  }

  .img-inicio {
    margin-top: 3%;
    width: 85%;
    margin-left: 38%;
  }

  .nome-inicio {
    font-family: "Playfair Display";
    color: white;
    top: 363px;
    position: relative;
    font-size: 113%;
    margin-left: 9%;
  }

  #popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
  }

  #popup .conteudo {
    background: #000000;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    height: 30%;
  }

  .fechar {
    border: #000;
    background-color: #8795f170;
    color: black;
    width: 17%;
    height: 23%;
    border-radius: 14px;
    font-size: 175%;
    position: relative;
    bottom: 186px;
    left: 254px;
  }

  .conteudo {
    display: inline;
  }

  .instraga {
    width: 33%;
    margin-top: 25%;
  }

  .whats {
    width: 37%;
    margin-left: 28%;
  }

  /*   Inicio   */
  /*   Serviços   */
  .serviço {
    font-size: 43px;
    color: #00324b;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 30px;
  }

  .serviço1 {
    border: solid 2px #00aaff;
    width: 90%;
    height: 200px;
    border-radius: 25px;
    margin: 8% 5% 8% 5%;
    background-color: #98cfff;
  }

  .face {
    width: 21%;
  }

  .titulo1 {
    color: #022543;
    font-size: 28px;
    margin-left: 22px;
  }

  .resumo1 {
    color: #07477e;
    margin-top: 12px;
    margin-left: 18px;
    font-size: 19px;
  }

  /*   Serviços   */
  /*   historia   */
  .foto-imagem {
    width: 90%;
    margin: 10% 5% 10% 5%;
  }

  .eu {
    font-size: 44px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom,#0066ff, #71B2FE );
    height: 60px;
  }

  .historia {
    font-size: 20px;
    margin: 6%;
    text-align: center;
  }

  /*   historia   */
  /*   postagens   */
  .posts {
    font-size: 50px;
    margin-left: 25%;
    margin-top: 14%;
    margin-bottom: 4%;
  }

  /*   postagens   */
  /*   local   */
  .local {
    font-size: 293%;
    margin: 10% 5% 5% 23%;
  }

  /*   local   */





}